:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --black-color:#000000;
  --wighte-color: #ffffff;
  --background-btn-color:#F5F4FA;
  --contacts-color:rgba(255, 255, 255, 0.6);
  --hero-and-footer-background-color:#2F303A;
  --card-border-color:#EEEEEE;
  --header-border-color: #ECECEC;
  --social-icon-color: #AFB1B8;
  --clints-borderandcompany-color:#AFB1B8;
  --background-princples-color:#F5F4FA;
  --icon-footer-background-color:rgba(255, 255, 255, 0.1);
  --animation-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--wighte-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.deco {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 20;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: color var(--animation-rule), background-color var(--animation-rule), -webkit-box-shadow var(--animation-rule);
  transition: color var(--animation-rule), background-color var(--animation-rule), -webkit-box-shadow var(--animation-rule);
  transition: color var(--animation-rule), background-color var(--animation-rule), box-shadow var(--animation-rule);
  transition: color var(--animation-rule), background-color var(--animation-rule), box-shadow var(--animation-rule), -webkit-box-shadow var(--animation-rule);
}
.button:hover, .button:focus {
  color: var(--wighte-color);
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--animation-rule), visibility var(--animation-rule);
  transition: opacity var(--animation-rule), visibility var(--animation-rule);
}

.modal {
  padding: 40px;
  position: absolute;
  min-width: 290px;
  width: 90vw;
  height: 550px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--wighte-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--animation-rule);
  transition: -webkit-transform var(--animation-rule);
  transition: transform var(--animation-rule);
  transition: transform var(--animation-rule), -webkit-transform var(--animation-rule);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  -webkit-transition: fill var(--animation-rule);
  transition: fill var(--animation-rule);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-text-color);
}
.modal-close-icon {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--header-border-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .header .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header .header__logo {
    margin-right: 93px;
  }
}
.header .header__logo--black {
  color: var(--black-color);
}

.header__connection {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}
@media screen and (min-width: 1200px) {
  .header__connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.navigation__list {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation-rule);
  transition: color var(--animation-rule);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-text-color);
  outline: none;
}
.navigation__item .navigation__link.current {
  color: var(--accent-text-color);
}

.mob-current {
  color: var(--accent-text-color);
}

.current {
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
  left: 0;
  bottom: -30px;
}

.connection__mail, .connection__tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation-rule);
  transition: color var(--animation-rule);
}
@media screen and (min-width: 1200px) {
  .connection__mail, .connection__tel {
    font-size: 14px;
    line-height: 1.14;
  }
}
.connection__mail:focus, .connection__mail:hover, .connection__tel:focus, .connection__tel:hover {
  color: var(--accent-text-color);
}
.connection__mail:focus .connection__smartphone, .connection__mail:focus .connection__envelope, .connection__mail:hover .connection__smartphone, .connection__mail:hover .connection__envelope, .connection__tel:focus .connection__smartphone, .connection__tel:focus .connection__envelope, .connection__tel:hover .connection__smartphone, .connection__tel:hover .connection__envelope {
  fill: var(--accent-text-color);
}

.connection__envelope {
  margin-right: 8px;
  fill: currentColor;
  -webkit-transition: fill var(--animation-rule);
  transition: fill var(--animation-rule);
}
@media screen and (min-width: 1200px) {
  .connection__envelope {
    margin-right: 10px;
    width: 16px;
  }
}

.connection__smartphone {
  margin-right: 8px;
  fill: currentColor;
  -webkit-transition: fill var(--animation-rule);
  transition: fill var(--animation-rule);
}
@media screen and (min-width: 1200px) {
  .connection__smartphone {
    margin-right: 10px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  color: var(--accent-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 48px 83px 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--wighte-color);
  overflow: auto;
}
.mobile-menu .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-open {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: inline-block;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: block;
  margin-bottom: 6px;
  margin-left: auto;
  padding: 0;
  -webkit-transition: fill var(--animation-rule);
  transition: fill var(--animation-rule);
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-text-color);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.media-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-nav__link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .mobile-nav__link {
    font-size: 40px;
  }
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__tel {
    font-size: 34px;
  }
}

.mobile-menu__mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__mail {
    font-size: 24px;
  }
}

.media-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
@media screen and (min-width: 480px) {
  .media-link {
    font-size: 18px;
  }
}

.media-item:not(:first-child) {
  padding-left: 10px;
}

.media-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero .container {
  padding: 0;
}
@media screen and (min-width: 480px) {
  .hero .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 696px;
  }
}

.hero {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--hero-and-footer-background-color);
  padding: 118px 40px;
  background-image: linear-gradient rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), url(../images/bg-image-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image-tab-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image-tab-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 118px 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-image-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-2x.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wighte-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--wighte-color);
  background-color: var(--accent-text-color);
  min-width: 160px;
  width: 200px;
  height: 50px;
  padding: 10px 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border-color: transparent;
}
@media screen and (min-width: 1200px) {
  .hero-button {
    width: 210px;
    padding: 10px 32px;
  }
}

.section.our-principles {
  padding-bottom: 0px;
}

.principles-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .principles-title {
    display: block;
  }
}

.principles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .principles {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.principles-item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .principles-item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .principles-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .principles-item {
    width: calc(100% - 30px);
  }
}

.principles-card {
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: var(--background-princples-color);
}

.after-title {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.what-we-do {
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
  }
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.gallery-item {
  position: relative;
}

.gallery-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 23.8%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wighte-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-btn-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
  margin-bottom: 10px;
  padding-top: 30px;
}

.team-list-item {
  background-color: var(--wighte-color);
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team-list-item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - 90px) / 4);
  }
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-socials {
    padding-bottom: 30px;
  }
}

.team-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--social-icon-color);
  -webkit-transition: background-color var(--animation-rule), fill var(--animation-rule);
  transition: background-color var(--animation-rule), fill var(--animation-rule);
}
.team-socials-link:hover, .team-socials-link:focus {
  background-color: var(--accent-text-color);
  fill: var(--wighte-color);
}

.clints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clints {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 480px) {
  .clints-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clints-item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clints-item {
    width: calc(100% - 30px);
  }
}

.clints-link {
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--clints-borderandcompany-color);
  -webkit-transition: border-color var(--animation-rule);
  transition: border-color var(--animation-rule);
}
.clints-link:focus, .clints-link:hover {
  border-color: var(--accent-text-color);
}
.clints-link:focus .clints-icon, .clints-link:hover .clints-icon {
  fill: var(--accent-text-color);
}

.clints-icon {
  fill: var(--clints-borderandcompany-color);
  -webkit-transition: fill var(--animation-rule);
  transition: fill var(--animation-rule);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 480px) {
  .filter {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.examples__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .examples__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .examples__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .examples__item {
    width: calc((100% - 90px) / 3);
  }
}

.examples__link {
  -webkit-transition: -webkit-box-shadow var(--animation-rule);
  transition: -webkit-box-shadow var(--animation-rule);
  transition: box-shadow var(--animation-rule);
  transition: box-shadow var(--animation-rule), -webkit-box-shadow var(--animation-rule);
}
.examples__link:hover, .examples__link:focus {
  display: block;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples__link:hover .portfolio__top-text, .examples__link:focus .portfolio__top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio__top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--wighte-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--animation-rule);
  transition: -webkit-transform var(--animation-rule);
  transition: transform var(--animation-rule);
  transition: transform var(--animation-rule), -webkit-transform var(--animation-rule);
}

.portfolio__example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio__filtre-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__card-name {
  padding: 20px 24px;
  background-color: #fff;
  border-left: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
}

.footer {
  background-color: var(--hero-and-footer-background-color);
  padding-top: 61px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-right: 0px;
  margin-bottom: 20px;
  display: block;
}
.footer__logo--wighte {
  color: var(--wighte-color);
}

.container .footer-continer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: start;
    gap: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts-wrap {
    margin-right: 70px;
  }
}

.footer__social-wrap {
  width: 206px;
  height: 80px;
}
@media screen and (min-width: 1200px) {
  .footer__social-wrap {
    margin-right: 93px;
  }
}

.contacts__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts__item:not(:first-child) {
  margin-top: 9px;
}

.contacts__mail, .contacts__tel {
  color: var(--contacts-color);
  -webkit-transition: color var(--animation-rule);
  transition: color var(--animation-rule);
}
.contacts__mail:hover, .contacts__mail:focus, .contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-text-color);
}

.contacts__map {
  color: var(--wighte-color);
  -webkit-transition: color var(--animation-rule);
  transition: color var(--animation-rule);
}
.contacts__map:hover, .contacts__map:focus {
  color: var(--accent-text-color);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--wighte-color);
  background-color: var(--icon-footer-background-color);
  -webkit-transition: background-color var(--animation-rule);
  transition: background-color var(--animation-rule);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-text-color);
  outline: none;
}

.invitation {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wighte-color);
  margin-bottom: 20px;
}

.footer__subscrube-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wighte-color);
}

.subscribe__input {
  background-color: transparent;
  min-width: 290px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--contacts-color);
  margin: 0px 0px 20px 0px;
}
@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin: 0px 12px 0px 0px;
  }
}
.subscribe__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}
.subscribe__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}
.subscribe__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}
.subscribe__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}
.subscribe__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.subscribe__btn {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border: none;
  color: var(--wighte-color);
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .subscribe__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.submit-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.88;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--wighte-color);
  background-color: var(--accent-text-color);
  min-width: 160px;
  width: 160px;
  height: 40px;
  padding: 5px 27px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 480px) {
  .submit-button {
    font-size: 16px;
    width: 200px;
    height: 50px;
    padding: 10px 52px;
  }
}

.modal-field {
  margin-bottom: 10px;
}
.modal-field:nth-child(4n) {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--animation-rule);
  transition: border-color var(--animation-rule);
}
.modal-input:focus {
  border-color: var(--accent-text-color);
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--animation-rule);
  transition: fill var(--animation-rule);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-text-color);
}

.comment {
  display: block;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
}
.comment::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}
.comment::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}
.comment:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}
.comment::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}
.comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .policy {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    margin-bottom: 30px;
  }
}

.check-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .check-text {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-text span {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.check-mod:checked + .check-text span {
  background-color: var(--accent-text-color);
  border: none;
}

.policy-rule {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-text-color);
}

.check-icon {
  fill: transparent;
  -webkit-transition: background-color var(--animation-rule), fill var(--animation-rule), border var(--animation-rule);
  transition: background-color var(--animation-rule), fill var(--animation-rule), border var(--animation-rule);
}
.check-mod:checked + .check-text .check-icon {
  fill: var(--wighte-color);
}/*# sourceMappingURL=main.css.map */