
.submit-button{
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.88;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--wighte-color);
    background-color:var(--accent-text-color);
    min-width: 160px;
    width: 160px;
    height: 40px;
    padding:5px 27px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @include mobile
    {
        font-size: 16px;
        width: 200px;
        height: 50px;
        padding:10px 52px;
    }
}

.modal-field {margin-bottom: 10px;
    &:nth-child(4n) { margin-bottom: 20px;}}

.modal-input{
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--animation-rule);
    &:focus{border-color: var(--accent-text-color);}
}

.input-label{
    display: block; 
    margin-bottom: 4px; 
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color)
}
.input-wrap{position: relative;}

.input-icon{    
position: absolute;
left:12px;
top: 50%;
transform: translateY(-50%);
transition: fill var(--animation-rule);
.modal-input:focus + &
{fill: var(--accent-text-color)}}

.comment{
display: block;
width: 100%;
height: 120px;
left: 576px;
top: 518px;
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
outline: transparent;
&::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1,16;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 0.5);
}}

.policy{
    display: flex;
    justify-content: center;
    text-align: center; 
    margin-bottom: 20px;
    @include mobile{justify-content:normal; margin-bottom: 30px;}}
    
.check-text{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.12;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    @include mobile{
        font-size: 12px;
        line-height: 1.16;
    }
    @include desktop{
        font-size: 14px;
        line-height: 1.71;
    }
    span{
        width: 16px;
        height: 15px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--title-text-color);
        border-radius: 2px;
    .check-mod:checked + & {
        background-color: var(--accent-text-color);
        border: none;}}
    }

.policy-rule{
    text-decoration-line:underline;
    color: var(--accent-text-color);
}

.check-icon{
    fill: transparent;
    transition:
    background-color var(--animation-rule),
    fill var(--animation-rule),
    border var(--animation-rule);
    .check-mod:checked + .check-text &
        { fill:var(--wighte-color)}}

